body {
    background-color: #f4f4f7;
    margin-left: 150px;
    margin-right: 150px;
}

p,
h3 {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    background-color: #ffffff;
}

.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom:20px:
}

.gray {
    color: #bfbfc2;
}

.red {
    color: #e71d3f;
    text-align: left;
    margin-left: 20px;
}

.black {
    color: black;
}

.white {
    color: white;
}

table {
    height: 250px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

.margin {
    margin-bottom: 50px;
}

footer {
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
    background-color: #f4f4f7;
    color:rgb(122, 121, 121);
}

.nav {
    display: inline;
    float: left;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

hr {
    color:#C5C6D0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav a:hover {
    background-color: #e71d3f;
}

.whitebackground {
    background-color: #ffffff;
}

.blackbackground {
    background-color: black;
}

.dgray {
    color: rgb(122, 121, 121);
}

h2 {
    text-align: center;
}

.address {
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #bfbfc2;
}

a:hover {
    color:#e71d3f;
}

a {
    color:#bfbfc2;
}

.twitter {
    margin-left: 20px;
}